.bts {text-align: center; padding: 2rem 0;}
.bts input, .bts button {font-size: 1.5rem; text-align: center;}
.bts button {padding: 0.5rem 1rem; color: #fff; cursor: pointer;}
.bts input {border: 4px solid lightseagreen; height: 56px; transform: translateY(-2px);}
.bt-ready {background-image: linear-gradient(#85eb6b, #2f901c); 
	border: 4px solid #1a530f;}
.bt-start {background-image: linear-gradient(#6bdceb, #1c6f90); 
	border: 4px solid #0f3a53;}
.bt-reset {background-image: linear-gradient(#ebbe6b, #90671c); 
	border: 4px solid #53460f;}
.wrapper {}