.wrapper {max-width: 1200px; margin: auto; padding-top: 2rem; text-align: center;}
.title {padding: 2rem; background-color: lightcyan; border-radius: 16px; color: #0c3475;}
.bt-lotto {margin: 1rem; padding: 1rem 2rem; color: #fff; background-color: #2f496b; border: none; border-radius: 8px; font-size: 1.5rem; cursor: pointer;}
.lotto-wrap {padding: 1rem;}
.lotto > span {display: inline-block; font-size: 2rem; width: 64px; height: 64px; border-radius: 50%; line-height: 60px; color: #fff; text-shadow: 0 0 3px rgba(0,0,0,0.5);}
.lotto > .yellow {background-image: 
	radial-gradient(farthest-corner at 20px 15px, #fce390 0, #f3be11 50%, #705704 95%);}
.lotto > .blue {background-image: 
	radial-gradient(farthest-corner at 20px 15px, #9ee8fa 0, #2dcef6 50%, #06495a 95%);}
.lotto > .red {background-image: 
	radial-gradient(farthest-corner at 20px 15px, #f7a499 0, #f1543f 50%, #631b11 95%);}
.lotto > .gray {background-image: 
	radial-gradient(farthest-corner at 20px 15px, #f1f1f1 0, #979797 50%, #222 95%);}
.lotto > .green {background-image: 
	radial-gradient(farthest-corner at 20px 15px, #c3f09e 0, #74d425 50%, #2e550d 95%);}