.slide-wrapper {background-color: #ccc;}
.slide-stage {position: relative; width: 720px; height: 380px; margin: auto; overflow: hidden;}
.slide-wrap {position: relative;}
.slide {width: 720px;}

.bt {position: absolute; color: #fff; font-size: 8rem; top: calc(50% - 6rem); cursor: pointer;}
.bt-prev {left: 2rem;}
.bt-next {right: 2rem;}