.slide-wrapper {background-color: #ccc;}
.slide-stage {position: relative; max-width: 720px; margin: auto;}
.slide-wrap {display: flex; width: 300%;}
.slide {flex: 33.3333% 0 0;}

.bt {position: absolute; color: #fff; font-size: 8rem; top: calc(50% - 6rem); cursor: pointer; z-index: 60000; user-select: none;}
.bt-prev {left: 2rem;}
.bt-next {right: 2rem;}