.page {height: 100vh; color: #fff; font-size: 50px; display: flex; justify-content: center; align-items: center;}
.page1 {background-color: darkorchid;}
.page2 {background-color: deeppink;}
.page3 {background-color: dodgerblue;}
.page4 {background-color: forestgreen;}
.page5 {background-color: goldenrod;}

.logo, .nav-link {cursor: pointer;}
.nav-link.active,
.nav-link.active:hover {color: #fac768;}

.box {width: 50px; height: 50px; background-color: honeydew; position: absolute; left: 0; top: 200px;}